{% extends 'base.html' %}

{% block title %} About {% endblock %}
{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/stylesheet.css">

</head>

<body>
    <nav>
        <header>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./estimate">Estimate</a></li>
            </ul>
        </header>
    </nav>
    <main>
        <section>
            <h2>About Vertical Tank Maintenance</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget urna venenatis, luctus augue sed,
                convallis felis. Proin sed pretium diam. Donec dolor ligula, tincidunt a venenatis et, varius at lacus.
                Sed
                id nisi arcu. Praesent lectus neque, consequat sit amet eros non, pellentesque condimentum sem. Mauris
                luctus aliquam est at malesuada. Praesent sed iaculis quam. Orci varius natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Sed facilisis elit in sem lobortis bibendum. Nam id consequat
                turpis.
                <br><br>
                Donec at metus euismod, sagittis magna ut, pretium nulla. Donec venenatis ipsum quam, sit amet lacinia
                erat
                posuere vitae. Donec id semper velit. Integer elementum sapien nibh, ac lacinia tortor aliquam gravida.
                In
                tristique augue purus, nec malesuada felis mattis ac. Aliquam mattis nisi id nibh feugiat feugiat.
                Suspendisse dignissim a nisi eget pharetra. Duis posuere, dui et sollicitudin efficitur, dui sapien
                bibendum
                ex, et rhoncus erat libero in ipsum. In consectetur tristique congue.
                <br><br>
                Sed a molestie enim. Praesent auctor egestas diam, eu sodales orci iaculis nec. Orci varius natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer eleifend quam ac congue
                gravida.
                Proin in tellus blandit leo pellentesque consectetur eu eu nisl. Vestibulum neque est, sodales vitae
                pretium
                quis, ultrices a turpis. Fusce finibus eu neque quis interdum. Quisque malesuada elementum libero, eu
                bibendum magna pulvinar ut. Aenean ex diam, blandit in risus in, ornare pulvinar est. Duis bibendum
                tortor
                quis augue commodo molestie. Morbi et odio erat. Proin ac orci id metus pulvinar pretium quis eget enim.
                Maecenas ipsum leo, posuere nec nulla vel, imperdiet vestibulum turpis. Cras facilisis tempor euismod.
                Praesent non tempus eros. Nullam lobortis tincidunt urna non gravida.
            </p>
        </section>
    </main>
</body>

{% endblock %}