{% extends 'base.html' %}

{% block title %} Estimate {% endblock %}


{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/stylesheet.css">
</head>

<body>
    <nav>
        <header>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./about">About</a></li>
                <li><a href="./estimate">Estimate</a></li>
            </ul>
        </header>
    </nav>
    <main>
        <h2>Estimate Calculator</h2>
        <form action="/calculate" method="POST">

            <label for="radius">
                Radius (inches):
                <input type="text" id="radius" name="radius" required autofocus />
            </label>
            <br><br>
            <label for="height">
                Height (inches): <input type="text" id="height" name="height" required />
                <br><br>
            </label>

            <input type="submit" value="Calculate">


        </form>
    </main>
</body>

{% if myValue %}
<p>The total cost = ${{ myValue }}</p>
{% endif %}

{% endblock %}