{% extends 'base.html' %}

{% block title %} Welcome to the home page{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/stylesheet.css">

</head>
<header>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./about">About</a></li>
            <li><a href="./estimate">Estimate</a></li>
        </ul>
    </nav>
</header>

<body>

    <main>

        <section>
            <h2>Welcome to VTM!</h2>
            <img src="/static/tanks.jpg" width=200px alt="Photo of tanks">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur augue nunc, rutrum nec tristique
                vitae, condimentum non lectus. Phasellus ut tellus tempus velit dignissim tempus. Suspendisse potenti.
                In orci est, pharetra et justo ac, faucibus porta nibh. Praesent pellentesque odio lorem, ac euismod
                lectus consectetur id. Proin eget nulla a libero ullamcorper lacinia nec vitae libero. Morbi consectetur
                dapibus nibh, in porta ligula vestibulum id. Nulla ullamcorper placerat eleifend.



            </p>
        </section>
    </main>
</body>



{% endblock %}